Data/Yeast/embedding/blast/POSSUM
Data/Yeast/pictures
Data/Yeast/first_stage_data
Data/Yeast/embedding/uniprotkb_ids
Data/Yeast/embedding/deepwalk
**/**.pt
**/**.png
**/__pycache__
Data/Yeast/compare
